<div class="container">

<h1>Login</h1>

<%= form_with :url => "/sessions" do |form| %>
  <p>
    <%= form.label "email", :class => "form-label" %>
    <%= form.text_field "email", :class => "form-control" %>
  </p>
  <p>
    <%= form.label "password", :class => "form-label" %>
    <%= form.password_field "password", :class => "form-control" %>
  </p>
  <p>
    <%= form.submit "Login", :class=> "btn btn-primary" %>
  </p>
<% end %>

</div>